<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570866028708-fb2efj58ji5uhqd2ek905qnl40hn76rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570866028708-fb2efj58ji5uhqd2ek905qnl40hn76rq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>570866028708-f2qamdd8sn9eu2b20c7hati7309vgvmt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-BarfIJh6FEL-GzjDZps-7NZgE_0dPO0</string>
	<key>GCM_SENDER_ID</key>
	<string>570866028708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartSpendApp</string>
	<key>PROJECT_ID</key>
	<string>smartspendapp</string>
	<key>STORAGE_BUCKET</key>
	<string>smartspendapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570866028708:ios:5940e2a3100faf6062d631</string>
</dict>
</plist>